*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    font-family: 'sf-pro-display';
}

body {
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;

}

.container {
    max-width: 1220px;
    margin:0 auto;
    padding: 0 10px;
}

.header {
    background-image: url('../images/header__bg.jpg');
    background-position: top;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}

.menu__list {
    display: flex;
    max-width: 650px;
    flex-wrap: wrap;
}

.menu__item {
    margin-right: 30px;
}

.menu__link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: color 0.5s;
}

.menu__link:hover {
    color: #CB0E0E;
}

.phone {
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
}

.login {
    margin-right: 134px;
    margin-left: 22px;
}

.header__content {
    max-width: 600px;
    margin-top: 5%;
}

.header__title {
    font-family: 'spaceagecyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-bottom: 20px;
}

.header__title span {
    font-size: 110px;
}

.header__text {
    font-family: 'sf-pro-display';
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.header__btn {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 1px solid #FFFFFF;
    padding: 15px 10px 16px;
    transition: color 0.1s;
}

.header__btn:hover {
    color: #CB0E0E;
    border: 1px solid #CB0E0E;
    background-color: rgba(0, 0, 0, 0.4);
}

.header__btn:active {
    color: #fff;
    background-color: rgba(80, 5, 5, 0.4);
    border: 1px solid #FFFFFF;
}

.header__description {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
    margin-top: 40px;
}

.header__description-text {
    width: 165px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.header__description-text + .header__description-text {
    margin-left: 52px;
}